<head>
    {{{head}}}
</head>
<body>
    <div id="link-menu">{{{menu1}}}<div style="text-align: center; position:absolute; width: 20vw; bottom: 15px"><hl-img style="border: 5px dotted purple; width: 60%" src="/assets/svg/cynthia.svg"></hl-img></div></div>
    <main>{{{content}}}</main>
    {{{infoshow}}}
    <div id="second-link-menu">{{{menu2}}}<div style="text-align: center; position:absolute; width: 20vw; bottom: 15px"></div>
</body>