<head>
    {{{head}}}
    <!-- Removed ads, instead, hope people donate. I rlly do, can't afford this fucking site without ad revenue nor donations -->
    <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js"
        data-id="JustMarOK" data-description="Support me on Buy me a coffee!" data-message="" data-color="#FF813F"
        data-position="left" data-x_margin="10" data-y_margin="30"></script>
</head>

<body>
    <button class="openbtn" onclick="openNav()">&#9776;</button>
    <div class="sidebar" id="mySidebar">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        {{{menu1}}}
        <div class="badgearea" onmouseover="bigbadgies()" onmouseleave="smollbadgies()" style="height: 20vh">
            <p>Badgies<imgmote>love3</imgmote>
            </p>
            <p><small style="font-size: 8px">(in random order!)</small></p>
            <div id="innerbadgies">
                {{!-- <img src="https://logger-diary.strawmelonjuice.com/img/blinkie/I_use_LDo_blinkie_short.gif"
                    alt="I use Logger-Diary Online!" title="[Clickable] Click to go to LDo!"
                    onclick="window.open('https://logger-diary.strawmelonjuice.com/');" class="badge clickable-badge"
                    loading="lazy">
                <img src="/assets/img/badges/php_copy1.gif" alt="PHP powered"
                    title="[Clickable] This website runs on PHP8" onclick="window.open('https://php.net/');"
                    class="badge clickable-badge" loading="lazy"> --}}
                <img src="/assets/img/badges/feminism.gif" alt="feminism" title="intersectional feminism!" class="badge"
                    loading="lazy">
                <img src="/assets/img/badges/blinkiesCafe-xD.gif"
                    alt="This site works better on a computer than on a smartphone :3"
                    title="[Clickable] This page works better on a computer than on a smartphone :3"
                    onclick="window.open('/assets/img/badges/blinkiesCafe-xD.gif');" class="badge clickable-badge"
                    loading="lazy">
                <img src="/assets/img/badges/blinkiesCafe-tumblr-grrll.gif" alt="Tumblr"
                    title="[Clickable] Tumblr Tumblr Tumblr"
                    onclick="window.open('https://www.tumblr.com/strawmelonjuice');" class="badge clickable-badge"
                    loading="lazy">
                <img src="https://yesterweb.org/no-to-web3/img/roly-saynotoweb3.gif"
                    alt="badge saying 'Keep the web free, say no to web3'" title="[Clickable] Crypto's ewie."
                    onclick="window.open('https://yesterweb.org/no-to-web3/');" class="badge clickable-badge"
                    loading="lazy">
                <img src="/assets/img/badges/blinkiesCafe-autism.gif" alt="autism" title="[Clickable] brain go brrr"
                    onclick="window.open('/assets/img/badges/blinkiesCafe-autism.gif');" class="badge clickable-badge"
                    loading="lazy">
                <img src="/assets/img/badges/getfirefox.gif" alt="Get Firefox" title="[Clickable] GET FIREFOX!!"
                    onclick="window.open('https://www.mozilla.org/nl/firefox/new/?redirect_source=firefox-com');"
                    class="badge clickable-badge" loading="lazy">
                <img src="/assets/img/badges/blinkiesCafe-L1.gif" alt="autism" title="[Clickable] AUTISM!"
                    onclick="window.open('/assets/img/badges/blinkiesCafe-L1.gif');" class="badge clickable-badge"
                    loading="lazy">
                <img src="/assets/img/badges/minecraft.gif" alt="minecraft" title="[Clickable] block game good"
                    onclick="window.open('https://minecraft.net/');" class="badge clickable-badge" loading="lazy">
                <img src="/assets/img/badges/nerd.gif" alt="nerd" title="nerd" class="badge" loading="lazy">
                <img src="/assets/img/badges/fucknazis.gif" alt="Fuck nazis" title="FUCK NAZIS!" class="badge"
                    loading="lazy">
                <img src="/assets/img/badges/antinft.gif" alt="anti-nft's"
                    title="NFTs are thrash, and a perfect way to spend money on destroying the world." class="badge"
                    loading="lazy">
                <img src="/assets/img/badges/ubuntubutton.png" alt="Ubuntu"
                    title="[Clickable] Ubuntu is by far the most intuitive Linux distro, go try it!"
                    onclick="window.open('https://ubuntu.com/download/desktop/');" class="badge clickable-badge"
                    loading="lazy">
                <img src="/assets/img/badges/linux80x15.png" alt="Run linux" title="team linux heheh" class="badge"
                    loading="lazy">
                <img src="/assets/img/badges/beingaprincessisafulltimejob.gif" alt="Being a princess is a full time job"
                    title="Being a princess is a full time job <3" class="badge" loading="lazy">
                <img src="/assets/img/badges/y2k-compliant.gif" alt="Y2K-compliant"
                    title="We survived! Or... well this site is from 2023. uhm." class="badge" loading="lazy">
                <img src="/assets/img/badges/transles80x31.png" alt="trans-lesbian flag" title="I'm trans, and girls"
                    class="badge" loading="lazy">
                <img src="https://blinkies.cafe/b/display/blinkiesCafe-badge.gif" alt="blinkies.cafe"
                    title="[Clickable] blinkies.cafe | make your own blinkies!"
                    onclick="window.open('https://blinkies.cafe');" class="badge clickable-badge" loading="lazy">
            </div>
        </div>
        <a href="/p/support" id="donateextrasidebarlink" class="menulink"><span class="emoji-block">&#x1F4B8;</span>
            Support me</a>
    </div>
    <main class="content" id="pagecontent">
        {{{content}}}
        <script src="/assets/scripts/oneko.js"></script>
    </main>
    {{{infoshow}}}
    <div class="bottombar" id="mybottombar">
        <a href="javascript:void(0);" class="icon" onclick="unrollbottombar()">&#9776;</a>
        {{{menu2}}}

        <a href="javascript:void(0)" onclick="ToggleFilters()" id="filtertoggle" class="accesstoggle"
            style="padding: 10px;">Contrast</a>
        <a href="javascript:void(0)" id="daylighttoggle" class="accesstoggle"><img style="max-height: 100%"
                id="daylighttoggleimg" src="/assets/img/png/strawberry-sun.png" alt="Light mode"
                onclick="colorSchemeOverride(2)"></a>
        <a href="javascript:void(0)" onclick="ToggleKitton()" id="kittontoggle" class="accesstoggle"><img
                src="/assets/img/png/kitton_crab.png"> <span id="kittontoggletext">hide..</span></a>
        <div style="text-align: center; position:absolute; width: 20vw; bottom: 15px">
        </div>
    </div>
</body>